$primary: #1cabed;
$secondary: #eda01c;
$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;
$google_font_name: "Inter";
$google_font_family: "Inter:300,300i,400,400i,400,400i";
$font-size-base: 1rem;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$td-content-strong: 500;
