$primary: #1cabed;
$secondary: #eda01c;
$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;
$google_font_name: "Oxygen";
// $google_font_family: "Oxygen:300,300i,400,400i,700,700i";
$font-size-base: 1.1rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$td-content-strong: 700;
